.large-hero {    
    border-bottom: 5px solid $mainBlue;
    display: grid;
    grid-template-columns: 1fr;

    &__image {
        grid-column: 1;
        grid-row: 1;
        img {
            display: block;
        }                
    }

    &__text-content {
        align-self: center;
        grid-column: 1;
        grid-row: 1;
        padding-top: 85px;                
        text-align: center;
       
        @mixin atSmall {
            padding-top: 35px; 
        }
    }
    &__title {
        font-weight: 300;
        color: $mainBlue;        
        margin: 0;
        font-size: 2.2rem;                     
        @mixin atSmall {
            font-size: 3.5rem;
        }
        @mixin atMedium {
            font-size: 4.8rem;
        }
    }
    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.65rem;
        margin: 0;

        @mixin atSmall {
            font-size: 2.65rem;
        }
        @mixin atMedium {
            font-size: 3.5rem;
        }

    }
    &__description {
        color: rgb(245, 245, 245);
        font-size: 1.15rem;
        font-weight: 200;
        text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
        @mixin atSmall {
            font-size: 1.95rem;
        }
    }    

    @mixin atSmall {
        border-bottom: 7px solid $mainBlue;
    }
    @mixin atMedium {
        border-bottom: 10px solid $mainBlue;
    }
    

}





