.site-footer {
    background-color: $mainBlue;
    color: $pWhite;
    padding: 0.5rem 0;
    text-align: center;

    &__text {
            display: block;
            margin-bottom: 1rem;
            font-weight: 300;
            font-size: 0.75rem;

        @mixin atSmall {
            display: inline-block;
            margin-right: 1.5rem;
            font-size: 1.25rem;
        }
    }

}